{% load staticfiles %}
{% for firma in firma_new %}
   <div class="col-xs-12 col-md-2 col-sm-3" style="max-width:250px; border:none;">
        <div class="thumbnail" style="border:none;  box-shadow:1px 1px 1px 1px lightgrey;">

            <div class="thumbnail" style="border:none;">
                <div class="thumbnail" style="width:100%; height:100px; border:none;">
                    <img src='{{ firma.firm_logo.url }}' class="img-responsive" alt="Responsive image"
                     style="max-height:100%;"/>
                </div>

                <a tabindex="0"  role="button" data-toggle="popover" data-trigger="focus" id="{{ firma.id }}"
                   title="{{ firma.name }} {{ firma.plz }} {{ firma.ort }} ................................................."
                   data-content="{{ firma.beschreibung }}">
                <img src="{% static 'img/question.png' %}" style="max-height:30px; margin-right:1px;"/>
                </a>
                <hr>
                <h5>{{ firma.branche }}</h5>
                <h5>{{ firma.name }}</h5>
                <h5>{{ firma.plz }} {{ firma.ort }}</h5>
                <a href="firma.firm_homepage">
                    <h5>
                        <small>{{ firma.homepage }}</small>
                    </h5>
                </a>
            </div>
        </div>
    </div>
  {% endfor %}