{% extends 'home_show.html' %}
{% load staticfiles %}
<head>
    <title>AGB</title>
</head>
{% block title %}
    <div style="position:absolut; width:100%; font-family:Roboto; background-color:#0B0B3B; color:white;">
        <h3>
            {{ title }}
        </h3>
    </div>
{% endblock %}
{% block body %}

<div class="container thumbnail">
    <h3>1. Geltungsbereich</h3>

Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für die Geschäftsbeziehungen zwischen Zertifizierte Schweizer Online Shops (nachfolgend "ZSOS" genannt) und dem am Zertifizierungsprogramm teilnehmenden Online-Shop (nachfolgend "Online-Shop" oder "Mitglied" genannt).

    <h3>2. Vertragsabschluss</h3>

Der Online-Shop kann die Mitgliedschaft am Zertifizierungsprogramm durch das Versenden eines ausgefüllten Online-Formulars auf der ZSOS-Homepage beantragen. Der Online-Shop wird schriftlich über die Annahme seines Antrags orientiert, sobald ZSOS den Antrag geprüft hat und die Prüfung erfolgreich war. Mit der bestätigenden Mitteilung über die Annahme des Antrages kommt der Vertrag zwischen ZSOS und dem Online-Shop zustande. ZSOS ist berechtigt, den Antrag des Online-Shops ohne Angabe von Gründen zurückzuweisen.

    <h3>3. Leistungen von ZSOS</h3>

ZSOS stellt seinen Mitgliedern ein Zertifizierungsprogramm zur Verfügung, welches unter anderem die Prüfung und die Zertifizierung des Online-Shops, die Bereitstellung und den Betrieb der ZSOS-Website sowie der Zertifikate-Datenbank beinhaltet. Je nach Wahl des Zertifikate-Pakets können zusätzliche Leistungen verfügbar werden.

    <h3>4. ZSOS-Prüfungskriterien</h3>

    <h4>4.1 Inhalt</h4>

Die ZSOS-Prüfungskriterien legen fest, welche Qualitätsstandards von ZSOS für einen Online-Shop sowie für die zugehörige Website erwartet werden.

<h4>4.2 Überprüfung der ZSOS-Prüfungskriterien</h4>

ZSOS prüft den Online-Shop des Mitgliedes nach der Anmeldung per Online-Formular anhand der ZSOS-Prüfungskriterien. Nach Abschluss der Prüfung wird dem Mitglied ein detaillierter Prüfungsbericht per Email zugestellt.

Auch während der gesamten Vertragsdauer ist ZSOS jederzeit berechtigt, den Online-Shop und die Website des Mitgliedes auf die Einhaltung der ZSOS-Prüfungskriterien sowie auf den vertragsgemässen Gebrauch der erteilten Lizenzen zu überprüfen.

    <h4>4.3 Einhaltung und Korrektur von Prüfungskriterien</h4>

Wird die Abweichung von den ZSOS-Prüfungskriterien festgestellt, setzt ZSOS dem Mitglied eine angemessene Frist, um den Kriterien konformen Zustand zu erreichen.

Sollten ein oder mehrere Prüfungskriterien auch nach Ablauf der gesetzten Frist nicht erfüllt sein, wird die ZSOS-Zertifizierung nicht erteilt oder gesperrt, bis der Mangel behoben ist.

    <h4>4.4 Änderung der ZSOS-Prüfungskriterien</h4>

Aufgrund von Gesetzesänderungen oder anderen hoheitlicher Empfehlungen, kann ZSOS verpflichtet oder gewillt sein, Anpassungen an den ZSOS-Prüfungskriterien vorzunehmen. ZSOS wird das Mitglied per Email über die Neuerungen informieren und eine angemessene Frist setzen, um die neuen Kriterien umzusetzen.

    <h3>5. Lizenzen an ZSOS-Materialien</h3>

    <h4>5.1 Umfang der Lizenz</h4>

ZSOS räumt dem Mitglied das einfache, nicht ausschliessliche und nicht übertragbare Recht ein, das ZSOS-Shopsiegel (Logo), sowie bereitgestellte Texte, Dokumente und Unterlagen für eigene Zwecke auf der Website, im Online-Shop oder in Druckerzeugnissen und anderen Werbemitteln zu nutzen. Dem Mitglied ist es untersagt, die ZSOS-Marken und -Inhalte inhaltlich oder gestalterisch (Form, Grösse, Farbe, etc.) zu verändern. Ein darüber hinaus gehender Erwerb von Rechten ist mit dieser Nutzungsrechtseinräumung nicht verbunden.

Dem Mitglied ist es ausdrücklich nicht gestattet, die Lizenzen zu vermieten und/oder an Dritte weiter zu geben. Eine Übertragung an einen Outsourcing-Partner des Lizenznehmers zum alleinigen Zwecke des Betriebs des Online-Shops für das Mitglied ist nach vorgängiger schriftlicher Zustimmung von ZSOS erlaubt.

    <h4>5.2 Beginn und Dauer der Lizenz</h4>

Die Einräumung der Lizenz erfolgt, sobald die Prüfung des Online-Shops durch ZSOS erfolgreich abgeschlossen wurde und das Mitglied die anfallenden Mitgliedergebühren vollständig bezahlt hat.

Das Nutzungsrecht wird für die Dauer des Vertrages eingeräumt und entfällt, sobald das Mitglied die ZSOS-Prüfungskriterien, auch nach ZSOS zur Behebung des Mangels angesetzter angemessener Frist, nicht einhält.

    <h3>6. Zahlungsbedingungen</h3>

    <h4>6.1 Kosten</h4>

Im Rahmen der Anmeldung des Online-Shops im Online-Formular auf der ZSOS-Homepage wählt der Online-Shop das gewünschte Zertifizierungs-Paket zu den auf der Homepage angegebenen Konditionen. Es werden keine Einrichtungsgebühren oder Umsatzabgaben erhoben.

Der Online-Shop kann das Zertifizierungs-Paket während des Vertragsjahres kostenpflichtig höherstufen und/oder kostenpflichtige Zusatzdienstleistungen zu den angegebenen Preisen beziehen. Sämtliche Preise verstehen sich in Schweizer Franken (CHF) inklusive MwSt.

    <h4>6.2 Fälligkeit und Rechnungsstellung</h4>

Mit Vertragsabschluss oder Auftragsbestätigung werden die Kosten für die Mitgliedergebühren und/oder bezogenen Dienstleistungen fällig.

Die Bezahlung durch das Mitglied erfolgt per Rechnung, wobei die Rechnungen per Email an die vom Mitglied im Anmeldeformular angegebenen Email-Adresse versandt werden. Das Mitglied kann Rechnungen in Papierform verlangen.

    <h4>6.3 Zahlungsverzug und Mahngebühren</h4>

ZSOS kann bei Zahlungsverzug des Mitglieds Verzugszinsen von 5% pro Jahr sowie eine Mahngebühr von CHF 20.- pro Mahnung erheben.

    <h3>7. Pflichten des Online-Shops</h3>

    <h4>7.1 Umsetzung der Prüfungskriterien</h4>

Das Mitglied ist selbst und auf eigene Kosten dafür verantwortlich, die nötigen technischen Voraussetzungen für die Teilnahme am Zertifizierungsprogramm von ZSOS zu schaffen. Auch die Umsetzung von bemängelten ZSOS-Prüfungskriterien für den Online-Shop oder die zugehörige Website nimmt das Mitglied auf eigene Kosten und eigenes Risiko vor.

    <h4>7.2 Zahlung des Mitgliederbeitrages</h4>

Das Mitglied ist verpflichtet, die Rechnungen für den Mitgliederbeitrag sowie für zusätzlich bezogene Dienstleistungen innert Zahlungsfrist zu begleichen.

    <h4>7.3 Meldung massgeblicher Änderungen an Online-Shop oder Website</h4>

Das Mitglied ist verpflichtet, sämtliche massgebliche Änderungen am Online-Shop oder der Website hinsichtlich Struktur, Design oder verwendeter Software ZSOS schriftlich ohne Verzug zu melden.

    <h4>7.4 Nutzung und Schutz der Lizenzen</h4>

Das Mitglied als Lizenznehmer anerkennt die Schutzrechte, insbesondere das Markenschutzrecht, von ZSOS, bzw. des entsprechenden Rechtsinhabers, enthält sich während der Dauer der dem Lizenznehmer eingeräumten Überlassung jedes Angriffs auf Bestand und Umfang dieser Rechte und ergreift gemäss den Instruktionen von ZSOS alle Massnahmen, um die Rechte von ZSOS bzw. des entsprechenden Rechtsinhabers zu wahren und unterstützt ZSOS in angemessenem Umfang bei der Verteidigung der Schutzrechte.

    <h3>8. Gewährleistung und Haftung</h3>

    <h4>8.1 Umfang der Prüfung durch ZSOS</h4>

ZSOS ist ein Zertifizierungsprogramm, welches die grundlegenden, allgemein anerkannten Voraussetzungen für einen Online-Shop oder eine Website prüft. Die Prüfung der Voraussetzungen erfolgt gemäss den ZSOS-Prüfungskriterien.

Die erfolgreiche Prüfung durch ZSOS ist nicht als Zusicherung zu verstehen, dass sämtliche anwendbaren gesetzlichen Bestimmungen eingehalten werden.

    <h4>8.2 Gewährleistung</h4>

ZSOS leistet nur Gewähr für die von ihr schriftlich separat abgegebenen zugesicherten Eigenschaften Ihrer Leistungen. ZSOS gewährleistet jedoch insbesondere nicht, dass das Zertifizierungsprogramm (Hompage, Datenbank, Bewertungssystem, etc.) ohne Unterbruch und Fehler und unter allen beliebigen Einsatzbedingungen genutzt werden kann.

    <h4>8.3 Haftung</h4>

ZSOS haftet dem Mitglied für aus dem Vertragsverhältnis entstehende Schäden ausschliesslich beim Vorliegen von Vorsatz oder grober Fahrlässigkeit. Von dieser Begrenzung ausgenommen ist die Haftung für schuldhaft herbeigeführte Personenschäden. Soweit gesetzlich zulässig, ist die Haftung von ZSOS für indirekte, Mangelfolge- und weitere Folgeschäden, wie entgangenen Gewinn, nicht realisierte Einsparungen, Betriebsausfall, Ansprüche Dritter oder Datenverlust, ausgeschlossen.

    <h3>9. Datenschutz</h3>

ZSOS darf die im Rahmen des Vertragsschlusses aufgenommenen Daten zur Erfüllung der Verpflichtungen aus diesem Vertrag verarbeiten und nutzen sowie zu Marketingzwecken verwenden. Insbesondere darf ZSOS das Mitglied als Referenz auf der eigenen Website aufführen. Die zur Leistungserfüllung notwendigen Daten können auch an beauftrage Dienstleistungspartner (Technologie- und Logistikpartner) oder sonstigen Dritten weitergegeben werden.

10. Schutz der Nutzungsrechte - Konventionalstrafe

Sollte das Mitglied bzw. dessen Mitarbeiter oder Hilfspersonen absichtlich oder grobfahrlässig die Bestimmungen dieses Vertrages über den Gebrauch und den Schutz der Nutzungs- und Schutzrechte verletzen, schuldet das Mitglied ZSOS für jeden Fall der Verletzung den dreifachen Betrag der für den bestimmungsgemässen Gebrauch geschuldeten vollen Jahresgebühr. Vorbehalten bleibt die Geltendmachung des weiteren Schadens.

Die Bezahlung dieser Konventionalstrafe befreit den Lizenznehmer nicht von den vertraglichen Pflichten. ZSOS ist insbesondere berechtigt, jederzeit die Beseitigung des rechtswidrigen Zustandes bzw. der Vertragsverletzung zu verlangen oder, bei wiederholter Verletzung der Nutzungsbestimmungen oder der ZSOS-Prüfungskriterien, dem Mitglied die eingeräumten Nutzungsrechte ohne Rückzahlung der bezahlten Lizenzgebühren durch schriftliche Mitteilung zu entziehen. Im Falle des Entzugs der Nutzungsrechte verpflichtet sich das Mitglied, umgehend auf die Benutzung der Rechte zu verzichten und sämtliche Kopien an ZSOS auszuhändigen bzw. solche Kopien zu vernichten.

11. Änderung, Laufzeit und Beendigung des Vertrages

11.1 Vertragsänderung

ZSOS teilt dem Mitglied Änderungen an diesen AGB oder anderer Vertragsbestimmungen schriftlich per Email mit. Geht innert Monatsfrist nach einer solchen Ankündigung kein schriftlicher Widerspruch des Mitglieds ein, gelten die neuen Vertragsbestimmungen als genehmigt.

11.2 Vertragslaufzeit

Die Mitgliedschaft hat eine Mindestlaufzeit von 12 (zwölf) Monaten, beginnend ab Vertragsschluss. Der Vertrag verlängert sich automatisch um weitere 12 (zwölf) Monate, sofern nicht termingerecht gekündigt wird.

11.3 Kündigung des Vertrages

Der Mitgliedervertrag ist mit einer Kündigungsfrist von 3 (drei) Monaten auf das Ende eines Vertragsjahres kündbar.

Die fristlose, ausserordentliche Kündigung aus wichtigem Grund bleibt vorbehalten. Als wichtige Gründe gelten für ZSOS	insbesondere (i) die Verweigerung der vertraglichen Pflichten, (ii) die wiederholte Verletzung ZSOS-Prüfungskriterien oder der erteilten Nutzungsrechte, oder (iii) der Zahlungsverzug der Mitgliedergebühr trotz Mahnung und Nachfrist.

12. Schlussbestimmungen

12.1 Ausschliessliche Geltung der AGB

Diese AGB gelten ausschliesslich. Entgegenstehende, ergänzende oder von diesen AGB abweichende Bedingungen bedürfen zur ihrer Geltung der ausdrücklichen schriftlichen Bestätigung durch ZSOS.

Sollten sich einzelne Bestimmungen dieser AGB als unwirksam oder undurchführbar erweisen oder unwirksam oder undurchführbar werden, so bleibt dadurch die Wirksamkeit der übrigen Bestimmungen unberührt.

12.2 Rechtswahl und Gerichtsstand

Im Falle von Streitigkeiten kommt ausschliesslich materielles Schweizer Recht unter Ausschluss von kollisionsrechtlichen Normen zur Anwendung. Das UN-Kaufrecht (CISG, Wiener Kaufrecht) wird explizit ausgeschlossen.

Der Gerichtsstand ist Zürich, soweit das Gesetz keine zwingenden Gerichtsstände vorsieht.

13. Kontakt

Bei Fragen zu diesen AGB bitte melden bei: Impressum

(Version 26. Februar 2014)
</div>

{% endblock %}