{% load staticfiles %}
<head>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_KEY }}"&callback=sample></script>
    <script>

     var lng = [];
     lng = {{ lng }};

     var lat = [];
     lat = {{ lat }};
     var anz_lat = 0;
     anz_lat = lat.length;

     var id = [];
     id = {{ id }};
     console.log(id);

     function loadMap(){

        var mapOptions = {
           center: new google.maps.LatLng(47.2779739, 8.0774468),
           zoom: 9
        };

        var map = new google.maps.Map(document.getElementById("sample"), mapOptions);

        //setMarker
        for(i = 0; i<=anz_lat; i++){
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat[i], lng[i]),
                map: map,
                animation: google.maps.Animation.DROP,
                label: id[i],
                });
            console.log(id[i]);
            }
        }
   </script>
</head>
